.login-page {
    min-height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.login-page::before {
    content: "";

    position: absolute;
    inset: 0;

    background: rgba(255, 235, 235, 0.45);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    z-index: 0;
}

.login-container {
    position: relative;
    z-index: 1;
}

.login-container{

    width:950px;
    height:560px;

    display:flex;

    background:white;

    border-radius:25px;

    overflow:hidden;

    box-shadow:
            0 10px 30px rgba(0,0,0,0.15);
}

.login-left{

    flex:1;

    background:#f3e3d8;

    display:flex;

    flex-direction:column;

    justify-content:center;
    align-items:center;

    padding:40px;

    text-align:center;
}

.hero-image{

    width:119%;
    height:300%;
    margin-bottom:10%;
}

.login-right{

    flex:1;

    background:
            linear-gradient(
                    rgba(57,8,4,0.9),
                    rgba(87,13,6,0.9)
            );

    display:flex;

    justify-content:center;
    align-items:center;
}

.login-form{

    width:380px;

    display:flex;

    flex-direction:column;

    gap:20px;
}

.login-form h2{

    color:white;

    font-size:42px;

    text-align:center;
}

.login-form p{

    color:#f3e3d8;

    text-align:center;

    margin-bottom:10px;
}

.login-form input{

    height:55px;

    border:none;

    border-radius:10px;

    padding:0 15px;

    font-size:16px;
}

.login-btn{

    height:55px;

    border:none;

    border-radius:10px;

    background:#c97a63;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

.login-btn:hover{

    background:#b56b55;
}

.login-logo{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;
}

.login-logo img{

    width:50px;
    height:50px;
}

.role-selection{

    display:flex;

    background:white;

    border-radius:12px;

    overflow:hidden;

    height:55px;

    margin-bottom:20px;
}

.role-btn{

    flex:1;

    border:none;

    background:white;

    color:#570d06;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:all 0.3s ease;
}

.role-btn:hover{

    background:#f3e3d8;
}

.role-btn.active-role{

    background:#570d06;

    color:white;
}

.forgot-password{

    text-align:right;
}

.forgot-password a{

    color:#f3e3d8;

    text-decoration:none;

    font-size:14px;
}

.forgot-password a:hover{

    text-decoration:underline;
}